<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>The Form</h1>

<form action="/create" method="post" th:object="${formData}">

    <p>Fullname: <input type="text" th:field="${formData.fullName}"  /></p>
    <p>Age: <input type="text" th:field="${formData.age}"/></p>
    <p>Employed: <input type="checkbox" th:field="${formData.employed}" th:value="true" /></p>
    <P>Choose Gender:</P>
    <p>Male <input type="radio" th:field="${formData.gender}" th:value="Male"/></p>
    <p>Female <input type="radio" th:field="${formData.gender}" th:value="Female"/></p>
    <p><input type="submit" value="Submit"/></p>
    <p><input type="reset" value="Reset"/></p>

</form>


</body>
</html>